<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="{{ path('post') }}">Posts</a>
        </nav>
      </div>
</div>
